<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis compras</title>
    <link href="assets/css/miscompras.css" rel="stylesheet" type="text/css">
</head>
<body>
  
  <div class="title">
    <h1>MIS COMPRAS</h1>
  </div>
  <a id="goBack" href="/home">Volver</a>
    <!-- COMPRAS -->
    <div class="container-posts" id="container-posts">
      <% if (compras.length > 0) { %>
        <% compras.forEach((compra) => { %>
          <div class="tarjeta">
            <img src="<%= compra.imagen_principal %>" alt="<%= compra.name %>">
            <h2><%= compra.name %></h2>
            <p>Estado: <%= compra.estado %></p>
            <a href="/publicacion/<%= compra.post_id%>">VER COMPRA</a>
          </div>
        <% }); %>
      <% } else { %>
        <p>No tenes compras hechas! :(</p>
      <% } %>
    </div>
</body>
</html>