<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la publicación</title>
    <link href="/assets/img/MyFootLogoV2.ico" rel="icon">
    <link href="/assets/img/MyFootLogoV2.ico" rel="apple-touch-icon">
    <link href="../assets/css/publicacion.css" rel="stylesheet" type="text/css"> 
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"> -->
    <link rel="stylesheet"type="text/css" href="/assets/css/swiper-bundle.min.css">
</head>


<body>
  <div class="container">

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen_principal.replace(/\\/g, '/') %>" alt=""></div>
          <% if (post.imagen2 != null) { %>
            <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen2.replace(/\\/g, '/') %>" alt=""></div>
          <% } %> 
          <% if (post.imagen3 != null) { %>
            <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen3.replace(/\\/g, '/') %>" alt=""></div>
          <% } %> 
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
    </div>
    <a id="goBack" href="/home">Volver</a>
    <div class="details">
      <div class="details-container">
        <h2><%= post.name %></h2>
        <div class="gray-container">
          <p class="p-desc">Id de la publicacion: <%= post.idpost %></p>
          <p class="p-desc">Vendedor: <%= post.author %></p>
        </div>
        
        <div class="price">
          <p>$<%= post.precio %></p>
      </div>
      <div class="divider"></div>
      <div class="info-container">
        <div class="cols-container">
          <div class="col1">
            <div class="label-container">
              <p class="label">Género:</p><p class="label-content"><%= post.genero %></p>
            </div>
            <div class="label-container">
              <p class="label">Pie:</p><p class="label-content"><%= post.pie %></p>
            </div>
            <div class="label-container">
              <p class="label">Talle:</p><p class="label-content"><%= post.talle %></p>
            </div>
            <div class="label-container">
              <p class="label">Marca:</p><p class="label-content"><%= post.marca %></p>
            </div>
            <div class="label-container">
              <p class="label">Pais:</p><p class="label-content"><%= post.pais %></p>
            </div>
            <div class="label-container">
              <p class="label">Descripción:</p><p class="label-content"><%= post.descripcion %></p>
            </div>
            <div class="label-container">

            </div>
          </div>
        </div>
      </div>
      </div>
    
      <div class="buy-button">
        <% if (!buyed) { %> 
          <!-- Buyed indica si el que entro a la pagina es el comprador, si es el comprador no deberia ver agregar al carrito -->
        <a href="/checkout/<%= post.idpost %>">Agregar al carrito</a>
        <% } %>
      </div>
    </div>
  </div>
  
  <!-- <% if (!buyed) { %>  -->
    <!-- Buyed indica si el que entro a la pagina es el comprador, si es el comprador deberia volver al carrito -->
    <!-- <a href="/home">Volver a la página principal</a> -->
  <!-- <% } else { %> -->
    <!-- <a href="/bought">Volver a la página anterior</a> -->
  <!-- <% } %> -->


  <script src="/assets/js/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  type : "loop",
  autoplay: true,
  loop: true,

  effect: 'cube',

  pagination: {
    el: '.swiper-pagination',
  },
  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
</body>
</html>