<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la publicación</title>
    <link href="/assets/img/MyFootLogoV2.ico" rel="icon">
    <link href="/assets/img/MyFootLogoV2.ico" rel="apple-touch-icon">
    <link href="../assets/css/publicacion.css" rel="stylesheet" type="text/css"> 
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"> -->
    <link rel="stylesheet"type="text/css" href="/assets/css/swiper-bundle.min.css">
</head>


<body>
  <a id="goBack" href="/home">Volver</a>
  <div class="container">

    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen_principal.replace(/\\/g, '/') %>" alt=""></div>
          <% if (post.imagen2 != null) { %>
            <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen2.replace(/\\/g, '/') %>" alt=""></div>
          <% } %> 
          <% if (post.imagen3 != null) { %>
            <div class="swiper-slide"><img class="swiper-image" src="../<%= post.imagen3.replace(/\\/g, '/') %>" alt=""></div>
          <% } %> 
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div class="details">
      <h2><%= post.name %></h2>
      <div class="label-container">
        <p style="color: red;">Precio:</p><p>$<%= post.precio %></p>
      </div>
      <p>Género: <%= post.genero %></p>
      <p>Pie: <%= post.pie %></p>
      <p>Descripción: <%= post.descripcion %></p>
      <p>Talle: <%= post.talle %></p>
      <p>Marca: <%= post.marca %></p>
      <p>País: <%= post.pais %></p>
      <p>Vendedor: <%= post.author %></p>
      <p>Id de la publicacion: <%= post.idpost %></p>
      <div class="buy-button">
        <% if (!buyed) { %> 
          <!-- Buyed indica si el que entro a la pagina es el comprador, si es el comprador no deberia ver agregar al carrito -->
        <a href="/checkout/<%= post.idpost %>">Agregar al carrito</a>
        <% } %>
      </div>
    </div>
  </div>
  <!-- <% if (!buyed) { %>  -->
    <!-- Buyed indica si el que entro a la pagina es el comprador, si es el comprador deberia volver al carrito -->
    <!-- <a href="/home">Volver a la página principal</a> -->
  <!-- <% } else { %> -->
    <!-- <a href="/bought">Volver a la página anterior</a> -->
  <!-- <% } %> -->


  <script src="/assets/js/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  effect: 'cube',

  pagination: {
    el: '.swiper-pagination',
  },
  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
});
</script>
</body>
</html>